<!DOCTYPE html>
<html lang ="en">
<head>
  <meta charset="UTF=8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, minimu-scale=11.0">
  <meta http-equiv="X-UA-compatible" content="ie=edge">
  <title> Assignment2</title>
</head>
<body>
<div class="container">
  <div *ngFor="let Car of carlist" class="carInfo">
    <h2>{{Car.model}}</h2>
    <p>{{Car.color}}</p>
    <p>{{Car.type}}</p>
    <p>{{Car.brand}}</p>
    <P> Vin number:{{Car.vinNumber}}</P>
    <p>Admin Status: {{Car.hasOwner}}</p>

    <p *ngif="Car.hasOwner; else noOwner"> This car have already an owner</p>
    <ng-template #noOwner><p> No Owner </p></ng-template>

    <!-- button to toggle admin status -->
    <button (click)="toggleAdminStatus(Car)" class="toggle-button">
      Toggle Admin Status
    </button>


  </div>
</div>
</body>
</html>
